javascript: 
	alert("HELLO!!!!!")
h1 Welcome to my site
<b>inline html is supported</b>
p
	| The time is #{ Time.now }, 
	  I Like to program in Ruby on Rails.
#hashtag I threw a hashtag in here!
#classy I'm classy!

p = Random.rand(10)

- if Random.rand(6) == 1
	|Lucky number 1!  You win!
br
br
small Goodbye!